.header.navbar {
  box-shadow: 0px 0px 8px 0px #ccc;
  min-height: 60px;
  align-items: flex-start;
}
.header .collapse {
  flex-direction: column;
}
.header .header__label {
  justify-content: normal;
  font-size: .75rem;
  font-style: italic;
}
.header .Select-control,
.header__btn--domains.btn,
.header__input--date.form-control,
.header__input--select.form-control,
.header__input--domains.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}
.header .Select-input,
.header .Select-placeholder,
.header__input--select.form-control,
.header .Select--single > .Select-control .Select-value {
  padding: 0;
}
.header .Select.has-value.Select--single >
.Select-control .Select-value .Select-value-label {
  color: #495057;
}
.header .Select.is-focused > .Select-control,
.header .Select.is-focused:not(.is-open) > .Select-control {
  background: transparent;
}
.Select.is-disabled .Select-control {
  cursor: not-allowed;
}
.header__toggler.navbar-toggler {
  border: none;
  margin-right: -1rem;
}
.header__logo {
  width: 2rem;
  vertical-align: bottom;
}
.header__input--q.form-control {
  border-radius: .25rem 0 0 .25rem;
  border-right: none;
}
.header__input--date.form-control,
.header__input--domains.form-control {
  padding-left: 0;
  padding-right: 0;
}
.header__input--date.form-control::placeholder,
.header__input--date.form-control:invalid::-webkit-datetime-edit,
.header__input--domains.form-control::placeholder {
  color: #aaa;
}
.header__btn--domains.btn {
  padding-right: 0;
}
.header__btn--q.btn {
  border: 1px solid #ced4da;
  border-radius: 0 .25rem .25rem 0;
  z-index: 1;
}
.header__advanced-search {
  display: none !important;
}
.header__advanced-search--expanded {
  display: block !important;
}
.header__advanced-search-toggle.btn-link:hover {
  text-decoration: none;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.header__input--date.form-control {
  width: 100% !important;
}
.react-datepicker,
.react-datepicker__header {
  border-color: #ced4da !important;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-bottom-color: #ced4da !important;
}

@media (max-width: 576px) {
  .react-datepicker-popper {
    display: none;
  }
}
